@charset "utf-8";
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
  font-family: \5FAE\8F6F\96C5\9ED1, serif;
  font-size: 12px;
  color: #333;
  line-height: 20px;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
}
/*
 * Remove text-shadow in selection highlight:
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: top;
  max-width: 100%;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
ul,
li {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: top;
}
/* ==========================================================================
  Author's custom styles
  ========================================================================== */
.header {
  margin: 0 auto;
  padding: 25px 10px 10px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.header .logo {
  margin: 0 auto;
  width: 100px;
}
.main {
  margin: 20px 15px;
}
.main .top-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .top-nav .item {
  width: 60px;
  font-size: 13px;
}
.main .top-nav .item img {
  margin: 0 auto 10px;
  display: block;
  width: 50px;
}
.main .top-nav .item a {
  display: block;
  color: #333;
  text-align: center;
}
.footer .fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px 15px 2px;
  border-top: 1px solid #e1e1e1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}
.footer .fixed .sub-item {
  width: 40px;
}
.footer .fixed .sub-item a {
  display: block;
  color: #333;
  text-align: center;
}
.footer .fixed .sub-item a i {
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
}
.footer .fixed .sub-item a.on i {
  background-position: center bottom;
}
.footer .fixed .bg01 {
  background: url("../img/public/icon06.png") no-repeat center top;
  background-size: 20px;
}
.footer .fixed .bg02 {
  background: url("../img/public/icon07.png") no-repeat center top;
  background-size: 20px;
}
.footer .fixed .bg03 {
  background: url("../img/public/icon08.png") no-repeat center top;
  background-size: 20px;
}
.footer .fixed .bg04 {
  background: url("../img/public/icon09.png") no-repeat center top;
  background-size: 20px;
}
/* ==========================================================================
  Helper classes
  ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
.hide {
  visibility: hidden;
}
/*
* Clearfix: contain floats
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
.inner {
  margin: 0 auto;
  padding: 0 12.5px;
  max-width: 1225px;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
/*Out of line display ...*/
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*Over two lines of display ...*/
.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-cell {
  position: relative;
  display: table-cell;
}
/*------------------------------------------------------------
	small adjustment
------------------------------------------------------------*/
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-right {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/*------------------------------------------------------------
	flex
------------------------------------------------------------*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.row:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
[class*='col-'] {
  float: left;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
[align-items="center"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
[align-self="center"] {
  -ms-flex-item-align: center;
      align-self: center;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66%;
}
.col-sm-10 {
  width: 83.33%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66%;
}
.col-sm-7 {
  width: 58.33%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66%;
}
.col-sm-4 {
  width: 33.33%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.66%;
}
.col-sm-1 {
  width: 8.33%;
}
@media all and (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-1 {
    width: 8.33%;
  }
}
/*# sourceMappingURL=all.css.map */
